<footer>
<p>
  The code is maintained by ... for his own reference and as a quick start for some of his projects, but take it if it is useful to you too. Find the repo on <a href="{{ pkg.repository.url }}">Github</a>.
</p>
<p>
  This page was generated on {{ date | timestamp }}
</p>
</footer>
